extends layout

block content
  .row.justify-content-center
    .col-md-6
      .card
        .card-body
          h3.text-center Saldo Actual
          p.display-4.text-center $#{balance}

          .mt-4
            .btn-group-vertical.btn-group-lg.d-flex
              a.btn.btn-danger.flex-fill.mb-2(href='/depositar') Depositar Dinero
              a.btn.btn-danger.flex-fill.mb-2(href='/retirar') Retirar Dinero
              a.btn.btn-danger.flex-fill.mb-2(href='/transferir') Transferir
              a.btn.btn-danger.flex-fill.mb-2(href='/pagar') Pago de Servicios
              a.btn.btn-danger.flex-fill.mb-2(href='/credito') Pago tarjeta de credito
              a.btn.btn-danger.flex-fill(href='/transacciones') Ultimos Movimientos
