doctype html
html
  head
    title Maze Bank - GTA 5
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    .container
      header.text-center.mt-5
        h1 Maze Bank
        p Bienvenido a Maze Bank. Por favor, inicie sesión para acceder a su cuenta.

      main.mt-4
        .row.justify-content-center
          .col-md-6
            .card
              .card-body
                form(action='/signin' method='post')
                  .form-group
                    label(for='username') Cuenta
                    input.form-control(type='text' id='username' name='tarjeta' required)
                  .form-group
                    label(for='password') Clave
                    input.form-control(type='password' id='password' name='clave' required)
                  .form-group
                    button.btn.btn-danger.btn-block(type='submit') Iniciar Sesión 
                    if error_msg.length > 0
                                .error
                                    each err in error_msg
                                        p #{err}
      footer.text-center.mt-5
        p &copy; 2024 Maze Bank. Todos los derechos reservados.
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
