extends layout

block content
  .form-container
    h1 Formulario de Datos

    form(action="/submit" method="post")
      .form-row
        .form-column
          .form-group
            label(for="paterno") Apellido Paterno:
            input(type="text" name="paterno" id="paterno")
          .form-group
            label(for="materno") Apellido Materno:
            input(type="text" name="materno" id="materno")
        .form-column
          .form-group
            label(for="nombre") Nombre:
            input(type="text" name="nombre" id="nombre")
          .form-group
            label(for="cuenta") Número de Cuenta:
            input(type="text" name="cuenta" id="cuenta")
      .form-row
        .form-column
          .form-group
            label(for="celular") Teléfono:
            input(type="text" name="celular" id="celular")
      .form-group
        button.btn.btn-danger.btn-block(type="submit") Enviar
