body {
  font-family: Arial, sans-serif;
  background-image: url('../imagenes/fondo.jpg');
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=58443'), auto; /* Ruta de la imagen del cursor */
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
}

.header-container {
  background-color: #b22222; /* Color rojo */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.header-container p {
  color: white;
  margin: 0;
}

header .logo img {
  height: 100px;
  width: 300px;
}

header .user-info p {
  margin: 0;
}

header .user-info {
  text-align: right;
}

.card-body h3 {
  color: #333;
}

.display-4 {
  color: #28a745; /* Green color for balance */
}

.btn-danger {
  background: linear-gradient(to top, #a00c2c rgb(251, 90, 90));
  border-color: #b22222;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

/** aquí empieza el form **/
.form-container {
  max-width: 800px; /* Aumenta el ancho para acomodar dos columnas */
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-column {
  width: 48%; /* Asegúrate de que las dos columnas ocupen menos del 100% del contenedor */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a00c2c;
}

.bg-light-red {
  background-color: #ffcccc; /* Cambia el valor hexadecimal según tu preferencia */
}
